.editorconfig
.gitattributes
.clj-kondo
/resources/public/css/compiled
/resources/public/js/compiled
/resources/*_backup.pdf
figwheel_server.log
pom.xml
*jar
/lib/
/classes/
/out/
/target/
/node_modules/
.clj-kondo
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-*
.idea
.env
*.code-workspace
orcpub.iml
profiles.clj
env.sh
.repl
.nrepl-port
/resources/public/css/compiled/*
*~
#
*#*
*.crt
*.key
deploy/homebrew/*
