[
 {:username "tester1"
  :email "tester1@example.com"
  :password "Testing123!"
  :first-and-last-name "Tester One"}
 {:username "tester2"
  :email "tester2@example.com"
  :password "Testing123!"
  :first-and-last-name "Tester Two"}
 {:username "tester3"
  :email "tester3@example.com"
  :password "Testing123!"
  :first-and-last-name "Tester Three"}
]
